$font-size: 1rem;
$font-family-cuerpo: 'Roboto', sans-serif;
$font-family-titulos: 'Calistoga', cursive;
$font-weights: ("regular": 400, "bold": 700);

$max-width: 1200px;
$min-width: 600px;

$margin-default: 0;
$padding-default: 0;

@mixin fuente-titulos{

    @for $i from 1 through 5{
  
      h#{$i}{
        font-family: $font-family-titulos;
        font-weight: map-get($font-weights,"regular");
        }
  
    }
  
  }
  

$colores: (
    'cuerpo': #000,
    'destacado': #FFF,
    'header': #4E6379,
    'nav': #ddc3d2,
    'section': rgba(191, 201, 51, 0.14),
    'article': rgba(12, 121, 39, 0.08),
    'aside': rgba(79, 195, 247, 0.18),
    'footer': rgba(150, 34, 30, 0.42),
    'enlace': #4E6379,
);

@mixin ul-horizontal{
    list-style: none;
    display: flex;
    padding: $padding-default;
    margin: $margin-default;
    li{
        padding: $padding-default;
        margin: $margin-default;
    }
}